.post-container {
  width: 100%;
  border-radius: 10px;
  margin: 25px 0;
  position: relative;
  box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.post-wrapper {
  padding: 10px;
}

.post-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-top-left {
  display: flex;
  align-items: center;
}

.post-top-left a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.post-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.post-username {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.post-date {
  font-size: 12px;
}

.post-center {
  margin: 20px 0;
}

.post-center-img-container img {
  width: 100%;
  margin-top: 20px;
  max-height: 500px;
  object-fit: contain;
}

.post-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-bottom-left {
  display: flex;
  align-items: center;
}
.post-like {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  cursor: pointer;
}

.post-like-counter {
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
}
.post-like-counter button {
  font-size: 12px;
  text-transform: capitalize;
  display: flex;
  padding: 0;
}
.post-like-button {
  outline: none;
  padding: 0 0 0 5px;
  border: none;
  background-color: white;
}
.post-comment-counter {
  font-size: 13px;
  border-bottom: 1px dashed gray;
}
.liker-name {
  text-decoration: none;
  text-transform: capitalize;
}
